@font-face{
	font-family:"f-Base";
	src:url("fonts/CaviarDreams_Bold.eot?")format("eot"),
	url("fonts/CaviarDreams_Bold.woff") format("woff"),
	url("fonts/CaviarDreams_Bold.ttf") format("truetype"),
	url("fonts/CaviarDreams_Bold.svg#CaviarDreams-Bold") format("svg");
	font-weight:normal;
	font-style:normal;
}
/*@font-face{
	font-family:"Yu Gothic";
	src:url("fonts/CaviarDreams_Bold.eot?")format("eot"),
	url("fonts/CaviarDreams_Bold.woff") format("woff"),
	url("fonts/CaviarDreams_Bold.ttf") format("truetype"),
	url("fonts/CaviarDreams_Bold.svg#CaviarDreams-Bold") format("svg");
	font-weight:normal;
	font-style:normal;
}
*/
:root {
    --f-grey:#444444;
    --f-blue:#0088aa;

    --f-light-grey:#5C5C5C;
    --f-bg-grey:#efefef;
    --f-border-grey:#d6d4cb;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'f-Base', Arial, sans-serif;
}
div.wrap { margin:0 auto; max-width:70em; padding-right:0.75em; padding-left:0.75em; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*****************  Navigation Bar	******************/
header{
	background-color: var(--f-grey);
	/*height: 60px;*/
}
nav{
	height: 60px;
}
.logoImg{
	height: 34px;
	margin:	13px;
	float: left;
}
nav a{
	font-size: 120%;
	color: white;
	width: 10%;
	height: 60px;
	float: right;
	text-decoration: none;
	position: relative;
}
nav a span{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 13px;
}

.current{
	background-color: var(--f-blue);
}
nav a:hover{
	background-color: var(--f-light-grey);
}
/*****************  Main Generic	******************/
h1{
	font-size: 300%;
}
h2{
	font-size: 200%;
}
h3{
	font-size: 150%;
}
p{
	font-size: 150%;
	line-height: 25px;
}
section{
	overflow: auto;
}
section:nth-child(even){
	background-color: var(--f-bg-grey);
	border: solid var(--f-border-grey);
	border-width: 1px 0;
	text-align: right;
}
.wrap-section{
	margin: 50px 15%;
	overflow: auto;
	position: relative;
}
/*****************  Footer	******************/
footer{
	color: var(--f-grey);
	text-align: center;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 20px;
}
/*****************  About	******************/
.about-intro{
	display: inline-block;
	float: left;
	width: 50%;
}
#about-intro-pic{
	border-radius: 200px;
}
#hometown{
	background-image: url('../Imgs/toscolanoMaderno.jpg');
	background-size: 100%;
}
#hometown-header{
	height: 44vw;
	margin: 0;
}
.about-uni{
	text-align: center;
	display: inline-block;
	float: left;
	width: 46%;
}
.about-uni:nth-of-type(even){
	float: right;
}
.about-uni figure{
	height: 10vw;
}
#about-work-ind{
	display: inline-block;
	width: 30%;
	text-align: left;
	position: absolute;
	left: 0;
}
#about-work-pic{
	display: inline-block;
	width: 40%;
	padding: 1.5%;
}
#about-work-mod{
	display: inline-block;
	width: 30%;
	text-align: right;
	bottom: 0;
}

/*****************  Bond	******************/
table{
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 50px;
    font-size: 150%;
    border: solid white;
    border-width: 3vw 10vw 0;
    text-align: center;
}
td{
	width: 50%;
}
td input{
	height: 40px;
	width: 70%;
    font-size: 80%;
    font-family: 'f-Base';
    text-align: right;
    border-radius: 5px;
    border: 2px solid var(--f-border-grey);
    background-color: var(--f-bg-grey);
    padding: 10px;
}
.result-label{
	font-weight: bold;
}





























